<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>EPICTASK - Registro</title>
        <link href="/css/style.css" rel="stylesheet" />
    </head>

    <body>

        <h1>Cadastro</h1>

        <div class="Tela_Login">
            <form method="post" th:object="${usuario}" th:action="@{/usuario/cadastroUsuario}">

                <input name="nome" placeholder="Nome" th:field="*{nome}">
                <h2 th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></h2>

                <input name="email" placeholder="Email" th:field="*{email}" >
                <h2 th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></h2>

                <input name="senha" placeholder="Senha" type="password" th:field="*{senha}" >
                <h2 th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></h2>

                <a href="/home">Início</a>
                <input type="submit" value="Cadastrar" />

            </form>
        </div>

		<div id="errors" th:if="${(param.cadastro != null) and (param.cadastro[0] == 'false')}">
		    Ocorreu um erro ao processar as informações
		</div>

        <div class="grupo">
            <a href="index.html">Início</a>
        </div>

    </body>

</html>